.WhatContainer {
  display: flex;
  flex: 1;
}

.WhatToolbar {
  background: #eeeeee;
  border-right: 1px solid #dddddd;
  color: #000;
  line-height: 56px;
  height: 56px;
  font-size: 1.4em;
  flex: 1;
  padding-top: 8px;
  padding-left: 8px;
}

.WhatSide {
  background: #ebe8e3;
  flex: 1;
}

.WhatCircle {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #dedede;
}

.WhatSearch {
  background-color: #fbfbfb;
  border: solid 1px #f3f3f3;
  height: 36px;
}

.WhatBar {
  background-color: #ffffff;
  margin: 8px 16px;
}