/*
  TITLE BAR STYLES
*/

.Bar {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  -webkit-app-region: drag;
  user-select: none;
  align-items: center;
}

.Title {
  flex: 0 1 auto;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  user-select: none;
}

.Logo {
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  margin-left: 12px;
  margin-right: 6px;
}

.Logo.Vertical {
  margin-left: 6px;
}

.ResizeHandle {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: no-drag;
}

.ResizeHandle.Top {
  height: 3px;
  right: 0;
}

.ResizeHandle.Left {
  bottom: 0;
  width: 3px;
}

/*
  MENU BAR STYLES
*/

.MenuBar {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 2;
  box-sizing: border-box;
}

.MenuOverlay {
  outline: none;
  border: none;
  box-shadow: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.MenuButtonContainer {
  min-width: 0;
  flex-shrink: 0;
  height: 100%;
  box-sizing: content-box;
  outline: none;
  position: relative;
  -webkit-app-region: no-drag;
}

.MenuButtonLabel {
  white-space: nowrap;
  user-select: none;
  outline: none;
}

.MenuButtonLabelWrapper {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  color: inherit;
  user-select: none;
}

.MenuButtonLabelWrapper > svg {
  fill: currentColor;
}

.MenuButton {
  -webkit-appearance: none;
  border: none;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  text-align: left;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  outline: none;
}

.MenuButtonWrapper {
  width: 100%;
  height: 100%;
}

/*
  MENU LIST STYLES
*/

.MenuListContainer {
  position: fixed;
  outline: none;
  border: none;
}

.MenuListScrollView {
  overflow: hidden;
}

.MenuList {
  overflow: hidden;
}

.MenuListVertical {
  margin-left: 0px;
  overflow: visible;
  text-align: left;
  white-space: nowrap;
}

.MenuListItems {
  display: block;
  margin: 0 auto;
  padding: 0;
  flex: 1;
  width: 100%;
  justify-content: flex-end;
  list-style-type: none;
}

.SubMenuLabel {
  height: 20px;
  line-height: 20px;
  margin: 0px 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  direction: rtl;
  font-size: 1em;
  text-align: left;
}

/*
  MENU ITEM STYLES
*/

.MenuItemContainer {
  overflow: visible;
  padding: 0px;
  transform: none;
  display: flex;
  cursor: default;
  position: static;
}

.MenuItemWrapper {
  font-size: 12;
  padding: 0px 10px 0px 6px;
  color: inherit;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: default;
  overflow: hidden;
}

.Accelerator {
  flex-shrink: 0;
  margin-right: 10px;
}

.MenuItemLabel {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
  pointer-events: none;
}

.SubMenuArrow {
  flex-shrink: 0;
  opacity: 0.7;
  height: 24px;
  color: inherit;
}

.SubMenuArrow > svg {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.Separator {
  display: block;
  width: 100%;
  border: none;
  height: 1px;
}

.MenuItemIcon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
}

.StatusIcon {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 4px;
}

.StatusIcon > svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/*
  WINDOW CONTROLS STYLES
*/

.ControlsWrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  height: 100%;
  -webkit-app-region: no-drag;
  line-height: inherit;
}

.Control {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Control > div {
  background: transparent;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  line-height: inherit;
  color: inherit;
  fill: currentColor;
}
