.FramelessTitlebarButton svg {
  pointer-events: none;
  fill: currentColor;
}

.FramelessTitlebarButton:focus {
  outline: none;
}

.FramelessTitlebarButton:hover {
  opacity: 1;
}

.FramelessTitlebarButton:hover:active {
  transition: none;
  opacity: 1;
}
