.SignalToolbar {
  background: #2090ea;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  line-height: 64px;
  height: 64px;
  font-size: 1.4em;
  flex: 1;
  border-right: 1px solid #1a70b7;
  color: #fff;
}

.SignalSection {
  display: flex;
  font-size: 0.8em;
  flex: 1;
  height: 100%;
  border-right: 1px solid #000;
}

.SignalSide {
  background: #fafafa;
  max-width: 300px;
  min-width: 200px;
  flex: 1;
  flex-direction: row;
}

.SignalRight {
  background: #fafafa;
  flex: 1;
}

.SignalContainer {
  display: flex;
  flex: 1;
}

.SignalSearch {
  background-color: #fff;
  border: solid 1px #f3f3f3;
  height: 36px;
}