@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, #root {
  font-family: 'Dosis', monospace, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
}

p, h1 {
  margin: 0;
  padding: 0;
}

h1 {
  display: table;
}

.Children {
  display: flex;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
}

.footer {
  position: absolute;
  bottom: 12px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100vw;
}

.ExampleContainer {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
