body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.Container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Scroll {
  flex: 1;
  overflow-y: auto;
}

.Content {
  max-width: 400px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
}

.Dropdown {
  min-width: 200px;
  height: 30px;
  background: white;
  transition: 200ms all ease-in-out;
  box-sizing: border-box;
  display: block;
  margin-bottom: 36px;
}

.Dropdown:hover {

}

.Dropdown > select {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

.Dropdown > span {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px 4px;
}

.Dropdown > option {

}

.OptionContainer {
  display: flex;
  flex-direction: column;
  display: block;
  justify-content: space-between;
}

.OptionLabel {
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

code {
  border-radius: 4px;
  padding: 0px 8px;
}



.NotificationPopOut::-webkit-scrollbar {
  background: rgba(0,0,0,0.1);
}

.NotificationPopOut::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
}

.NotificationPopOut > .Header {
  position: fixed;
  height: 32px;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: black;
}
